@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

.font-oswald {
  font-family: var(--font-oswald), sans-serif;
}